<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html lang="en"> 
<head> 
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
    <link rel="stylesheet" href="/media/screen.css" type="text/css">
</head> 
<body>
    <div id="not_the_footer">
        <div id="header_area">
            <div class="container_12">
                <div id="header" class="grid_12">
                    <h1 class="grid_7 suffix_5 alpha omega"><a href="/">pyMNtos</a></h1>
                    <ul id="navigation" class="grid_12 alpha omega">
                        <li><a href="/">Home</a></li>
                        <li><a href="/blog/">Blog</a></li>
						<li><a href="/meetings/">Meetings</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="content_area">
            <div class="container_12">
                <div id="content" class="grid_12">
                    {% block content %}{%endblock %}
                </div>
            </div>
            <div id="clearfooter"></div>
        </div>
    </div>
    <div id="footer_area">
        <div class="container_12">
            <div class="grid_12">
                {% if user %}
                    <p>Logged in as {{ user.nickname }}. <a href="{{ logout_url }}">Log out</a>.</p>
                {% else %}
                    <p><a href="{{ login_url }}">Log in</a>.</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
