{% extends "base.html" %}

{% block content %}
<div class="grid_6 alpha suffix_1">
    <h2>Welcome!</h2>
    <p>
        PyMNtos (pronounced pie-min-tose) is a Twin Cities group of Python
        enthusiasts.  Some of us use Python every day in our work.  Some of us are
        just hobbyists.  Others are just learning.  Whoever you are and whatever your
        skill level is, we would love for you to join us.
    </p>
    <!-- <p>
        We meet at 7:00 PM on the second Thursday of the month at
        <a href="http://www.nerdery.com/">The Nerdery</a>,
        in Bloomington.  There is no membership fee or any other barrier to entry.
        Just RSVP so that The Nerdery knows how much pizza to get.
    </p> -->
    <p>
        We meet at 7:00 PM on the second Thursday of the month at
        <a href="http://www.clockwork.net/">Clockwork</a>,
        in NE Minneapolis.  There is no membership fee or any other barrier to entry.
        Just RSVP so that we know how much pizza to get.
    </p> 
    
    <a id="join_list_button" href="http://groups.google.com/group/pymntos">Join our discussion list.</a>
    <a id="rsvp_button" href="/meetings/">RSVP for our next meeting.</a>
    
</div>

<div class="grid_5 omega">
    <div id="meeting_time_box">
        <h2><a href="/meetings/">Next Meeting</a></h2>
        <table style="width: 100%; border-collapse:collapse;">
            <tr>
                <td><strong>Date:</td>
                <td>{{ meeting.date|date:"F j, Y" }}</td>
            </tr>
            <tr>
                <td><strong>Time:</td>
                <td>{{ meeting.date|date:"g:i A" }}</td>
            </tr>
            <tr>
                <td><strong>Location:</td>
                <td>
                    <!-- <a href="http://www.nerdery.com/">Nerdery Interactive Labs</a><br />
                    9555 James Ave S<br />
                    Suite 245<br />
                    Bloomington, MN 55431<br />
                    (<a href="http://maps.google.com/maps?q=9555+James+Ave+S+%23245,+Bloomington,+MN+55431">Map</a>) -->
                    <a href="http://www.clockwork.net/">Clockwork</a><br />
                    1501 East Hennepin Ave<br/>
                    Minneapolis, MN 55414<br/>
                    (<a href="http://maps.google.com/maps?q=1501+East+Hennepin+Avenue+Minneapolis,+MN+55414">Map</a>)

                </td>
        </tr>
    </table>
        {{ meeting.rendered_agenda }}
    </div>
</div>

<div id="below_fold" class="grid_12 alpha omega">
    <div class="grid_6 suffix_1 alpha">
        <h2>Blog</h2>
        {% if blog_posts %}
			{% for post in blog_posts %}
				<div class="blog_post">
					<h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
					{{ post.rendered_excerpt }}
					<p class="timestamp">
						{{ post.timestamp|date:"F j, Y"}} |
						<a href="{{ post.permalink }}">Permalink</a>
					</p>
				</div>
			{% endfor %}
		{% else %}
		<p>No blog posts.</p>
		{% endif %}
    </div>
    <div class="grid_5 omega">
        <h2>Twitter</h2>
        {% if tweets %}
			{% for tweet in tweets %}
				<div class="tweet">
					<p>{{ tweet.parsed }}</p>
					<p class="metadata">
						<a href="http://twitter.com/{{ tweet.author }}">@{{ tweet.author }}</a>
						on {{ tweet.timestamp|date:"F j, Y" }}
					</p>
				</div>
			{% endfor %}
		{% else %}
			<p>Why aren't people talking about us on Twitter?</p>
		{% endif %}
    </div>
</div>
{% endblock %}
